<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>matches.ejs</title>

    <link rel="stylesheet" href="assets/css/style.css" media="screen">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">

  </head>
  <body>

    <div class="header">Kitchen Counter</div>

    <div class="content">

      <h4><%= user.local.email %></h4>
      <a href='/logout'>Log Out</a>

      <hr>

      <h2>Matching Recipes</h2>
      <h4 style='font-family:Georgia; font-style:italic'>You have enough ingredients to cook up the following recipes!</h4>

      <ul>
        <% for (i=0; i < user.local.matches.length; i++) { %>
          <li><strong><%= user.local.matches[i].title %></strong></li>
          <li>ingredients: <%= user.local.matches[i].ingredients %></li>
          <li>description: <%= user.local.matches[i].description %></li>
          <li>directions: <%= user.local.matches[i].directions %></li>
          <img src="<%= user.local.matches[i].imageurl %>" alt="<%= user.local.matches[i].title %> image" style="width: 100px; height: 100px"/>
          <a href="<%= user.local.matches[i].recipeurl %>">Link to Recipe details</a>
        <% } %>
      </ul>

      <hr>

      <a href="/profile" class="btn btn-default">Back</a>

    </div>


  </body>
</html>
