<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Recipe Matches</title>

    <link rel="stylesheet" href="assets/css/style.css" media="screen">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">

  </head>
  <body>

    <div class="header">Kitchen Counter</div>

    <div class="content">

      <h4><%= user.local.email %></h4>
      <a href='/logout'>Log Out</a>

      <hr>

      <h2>Matching Recipes</h2>
      <h4 style='font-family:Georgia; font-style:italic'>You have enough ingredients to cook up the following recipes!</h4>

        <% for (i=0; i < user.local.matches.length; i++) { %>
          <div class="row">
            <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
                <img src="<%= user.local.matches[i].imageurl %>" alt="<%= user.local.matches[i].title %> image">
                <div class="caption">
                  <h3><%= user.local.matches[i].title %></h3>
                  <p><%= user.local.matches[i].description %></p>
                  <p><a href="<%= user.local.matches[i].recipeurl %>" class="btn btn-primary" role="button">Recipe Details</a></p>
                </div>
              </div>
            </div>
          </div>
        <% } %>

      <a href="/profile" class="btn btn-default">Back</a>

    </div>

  </body>
</html>
