<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>User</title>
  </head>
  <body>
    <h1>Kitchen Counter 2.0</h1>
    <h2>profile.ejs</h2>
    <p><a href='/logout'>Log Out</a></p>
    <h2>id: <%= user._id %></h2>
    <h2>email: <%= user.local.email %></h2>
    <h2>password: <%= user.local.password %></h2>
    <h2>ingredients: <%= user.local.ingredients %></h2>
    <!-- <h1><%= user.local.newstuff %></h1> -->

    <form action="/addIng" method="post">
      <input type="text" name="ingredient">
      <button type="submit">Add Ingredient</button>
    </form>

  </body>
</html>
